body{
    background-color: #BBBBBBBB;
    text-align: center;
}
.banner{
    width:80%;
    height: 70vmin;
    border-radius: 1%;
    display: inline-block;
    margin: 0, auto;
}
.titulos{
    font-weight: 900;
    font-size: 2.8rem;
    padding: 1rem;
    margin: 2rem;
}
h1{
    text-align: left;
    color: #000000;
}
h2{
    color: #000000;
}
p{
    text-align: center;
    font-size: 18px;
}
.mision{
    font-size: 2rem;
}
em strong{
    color: red;
}
.lista{
    font-size: 18px;
    font-style: italic;
}
ul{
    text-align: justify;
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.imagenDiferenciales{
    width: 50%;
}

/* css compartido */

header{
    background-color: #BBBBBBBB;
    padding: 20px 0;
}
.contenedor-nav{
    width: 940px;
    position: relative;
    margin: 0 auto;
}
nav {
    position: absolute;
    top: 110px;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 22px;
}
nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color: #ce910e;
    font-size: 24px;
}

footer{
    text-align: center;
    background: url(images/bg.jpg);
    padding: 40px;
}
#copyright{
    font-size: 13px;
    color: #fff;
    margin: 20px;
}
