body{
    background-color: antiquewhite;
    text-align: center;
}
.banner{
    width:100%;
    height: 70vmin;
    border-radius: 1%;
    display: flex;
}
.titulos{
    font-weight: 900;
    font-size: 2.5rem;
    padding: 1rem;
    margin: 2rem;
}
h1{
    text-align: left;
    color: red;
}
h2{
    border: 10px solid #000;
    color: rgba(2, 48, 255, 0.699);
}
p{
    text-align: center;
    font-size: 1.5rem;
}
.mision{
    font-size: 2rem;
}
em strong{
    color: red;
}
.lista{
    font-size: 1.5rem;
    font-style: italic;
}
ul{
    text-align: justify;
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.imagenDiferenciales{
    width: 50%;
}