body{
    background-color: antiquewhite;
    text-align: center;
}
h1{
    color: rgb(12, 12, 12);
    font-weight: 900;
    font-size: 2.5rem;
}
p{
    text-align: center;
    font-size: 1.5rem;
}
.parrafo1 {

}
.parrafo2{
    font-size: 2rem;
    
}
.parrafo3{
    
}
em strong{
    color: red;
}