.parrafo1 {
    text-align: center;
    font-size: 1rem;
}
.parrafo2{
    text-align: center;
    font-size: 2rem;
}
.parrafo3{
    text-align: center;
    font-size: 1rem;
    font-family: sans-serif;
}